node-RED/flows.json
[{"id":"9da8c74b.e585f8","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"b3a62593.a845c8","type":"ui_button","z":"9da8c74b.e585f8","name":"Refresh","group":"9d3d1af1.409bb8","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":140,"wires":[["5f58025c.97ffdc"]]},{"id":"5f58025c.97ffdc","type":"change","z":"9da8c74b.e585f8","name":"Set filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"/home/pi/node-red-static/grab.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["14cd27f1.521f78"]]},{"id":"14cd27f1.521f78","type":"exec","z":"9da8c74b.e585f8","command":"ffmpeg -y -i rtsp://192.168.2.62:8555/unicast -vframes 1 -vf scale=800:-1","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Grab a frame","x":525.4000091552734,"y":125.86666202545166,"wires":[["50ce2037.65728","c1b9030b.b294b"],[],["fcb6a0db.86e03","5ee2dec8.7be47"]]},{"id":"50ce2037.65728","type":"ui_template","z":"9da8c74b.e585f8","group":"9d3d1af1.409bb8","name":"Static image","order":2,"width":0,"height":0,"format":"<div height=\"280\" style=\"height:280px;\">\n<img src=\"/grab.jpg\" width=\"280\"><br/>\n<a href=\"/grab.jpg\" target=\"_blank\">Full screen</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":785.4000091552734,"y":85.86666202545166,"wires":[[]]},{"id":"c1b9030b.b294b","type":"debug","z":"9da8c74b.e585f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":765.4000091552734,"y":125.86666202545166,"wires":[]},{"id":"fcb6a0db.86e03","type":"debug","z":"9da8c74b.e585f8","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","statusVal":"","statusType":"auto","x":765.4000091552734,"y":205.86666202545166,"wires":[]},{"id":"5ee2dec8.7be47","type":"ui_template","z":"9da8c74b.e585f8","group":"9d3d1af1.409bb8","name":"Streaming","order":3,"width":"0","height":"0","format":"<iframe width=\"800\" height=\"500\" src=\"http://192.168.2.62:8000/index.html\" title=\"description\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":790,"y":260,"wires":[[]]},{"id":"813e5447.53b868","type":"ui_button","z":"9da8c74b.e585f8","name":"","group":"9d3d1af1.409bb8","order":5,"width":"2","height":"1","passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"u","payloadType":"str","topic":"","x":130,"y":240,"wires":[["6eeb04bc.50469c"]]},{"id":"be3624c4.174ce8","type":"ui_button","z":"9da8c74b.e585f8","name":"","group":"9d3d1af1.409bb8","order":6,"width":"2","height":"1","passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"d","payloadType":"str","topic":"","x":140,"y":300,"wires":[["6eeb04bc.50469c"]]},{"id":"46e7daf4.9883d4","type":"ui_button","z":"9da8c74b.e585f8","name":"","group":"9d3d1af1.409bb8","order":7,"width":"2","height":"1","passthru":false,"label":"LEFT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"l","payloadType":"str","topic":"","x":130,"y":360,"wires":[["6eeb04bc.50469c"]]},{"id":"75d35f1a.8fe74","type":"ui_button","z":"9da8c74b.e585f8","name":"","group":"9d3d1af1.409bb8","order":8,"width":"2","height":"1","passthru":false,"label":"RIGHT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"r","payloadType":"str","topic":"","x":140,"y":420,"wires":[["6eeb04bc.50469c"]]},{"id":"6eeb04bc.50469c","type":"mqtt out","z":"9da8c74b.e585f8","name":"Cam Control","topic":"home/camera1/camcontrol","qos":"1","retain":"","broker":"f48ee7ca.2ee2a8","x":500,"y":240,"wires":[]},{"id":"a6c5951b.e93778","type":"ui_button","z":"9da8c74b.e585f8","name":"","group":"9d3d1af1.409bb8","order":4,"width":"2","height":"1","passthru":false,"label":"CENTER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"c","payloadType":"str","topic":"","x":140,"y":480,"wires":[["6eeb04bc.50469c"]]},{"id":"9d3d1af1.409bb8","type":"ui_group","name":"Room1","tab":"91565b60.e9a488","order":1,"disp":true,"width":"13","collapse":false},{"id":"f48ee7ca.2ee2a8","type":"mqtt-broker","name":"","broker":"mqtt.hypdevs.com","port":"8883","tls":"c105b541.cc5cc8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"91565b60.e9a488","type":"ui_tab","name":"Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"c105b541.cc5cc8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"client.crt","keyname":"client.key","caname":"ca.crt","servername":"hypdevs.com","verifyservercert":false}]